---
layout: default
title: Home
---
<!-- Brief Introduction -->
<div class="jumbotron1">
<div class="container-home">
  <h1>Hi, I am Ye Wang (Eric)</h1>
  <p>I am a PhD student in the <a href="https://stat.duke.edu/">Department of Statistical Science</a> at 
  <a href="http://duke.edu/">Duke University</a>. Prior to that I obtained an <a href="http://econ.duke.edu/msem">MSEM</a> degree 
  from Duke and a B.S. in computational mathematics from <a href="http://en.hit.edu.cn/">Harbin Institute of Technology</a>.
  </p>
  <p>My research, conducted under the supervision of professor 
  <a href="https://stat.duke.edu/~dunson/">David Dunson</a>, focuses on scalable Bayesian inference and 
  nonparametric models. I also like hiking, swimming and traveling!</p>
  </div>
  </div>

<!-- Most Recent Blog -->
<div class="jumbotron1">
<div class="container-home-small">
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h2 class="post-title">
      Blog: <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
</div>
</div>

<!-- About my name -->
<div class="jumbotron2">
<div class="container-home">
  <h1>About my Chinese name 王 (Wang) 也 (Ye)</h1>
    <p>The Chinese surname 王 (wang), meaning "king", is the second most common surname in China. Based on the sixth national census of China, 
  7.41% of the total population (approximately 88,900,000 people!) hold the same surname as I do. </p>
    <p>The Chinese character 也 (yay) might be the mostly commonly used character in ancient Chinese
    language. However, it has no specific meaning, but is used to finish a sentence, expressing a strong tone of determination.</p>
    <p>Hence the meaning  of my name is</p>
    <h2>Whoa! A king!</h2>
  </div>
  </div>
  
<div class="jumbotron1">
<div class="container-home">
  <h1>Bayes theorem</h1>
  $$p(A|B)=\frac{p(B|A)p(A)}{p(B)}$$
  </div>
  </div>
  
<!-- Social Network -->
<div class="jumbotron2">
<div class="container-home">
  <h1>Find me on</h1>
    <div class="soci-logo">
      <a href="https://www.linkedin.com/in/ericyewang"><img id="link" src="/asset/linkedin_128_128.png" alt="linkedin"></a></div>
    <div class="soci-logo"><a href="https://plus.google.com/101432152708144293021"><img id="goog" src="/asset/googleplus_128_128.png" alt="google plus"></a></div>
    <div class="soci-logo"><a href="https://github.com/ericyewang"><img id="git" src="/asset/github_128_128.png" alt="github"></a></div>
    <div class="soci-logo"><a href="http://weibo.com/morning1night"><img id="sina" src="/asset/sinablogweibo_128_128.png" alt="sinablogweibo"></a></div>
  </div>
  </div>
