/* container declaration */
.container {
    max-width: 100rem;
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    margin-left:  5%;
    margin-top:  5%;
    margin-right: 5%;
}

h1.container {
    font-size: 20 rem;
    color: #3b5998;
    // Facebook deep blue
}

h2.container {
    font-size: 15 rem;
}

h3.container {
    font-size: 10 rem;
}

p.container {
    font-size: 8 rem;
}

li.container {
    font-size: 8 rem;
}
