// Home
//
// Unique styles for the home page.

#self {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left:  10%;
  padding-right: 10%;
  background-image: url("asset/Background.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#self-container {
  background-color: #fff;
  opacity: 0.8;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left:  10%;
  padding-right: 5%;
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#self-container:hover {
  opacity: 0.95;
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.container-home {
  text-align: center;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  15%;
  margin-right: 15%;
}

.container-home-small {
  text-align: center;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  30%;
  margin-right: 30%;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #CCCCCC;
  border-width: 0.5rem;
}
