// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  15%;
  margin-top:  15%;
  margin-right: 15%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #CCCCCC;
  border-width: 0.5rem;
}

.jumbotron1 {
  right:0;
  left:0;
  background-color: #fff;
}

.jumbotron2 {
  right:0;
  left:0;
  background-color: #E8E8EE;
}

.container-home {
  text-align: center;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  15%;
  margin-top:  15%;
  margin-right: 15%;
}

.container-home-small {
  text-align: center;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  30%;
  margin-top:  15%;
  margin-right: 30%;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #CCCCCC;
  border-width: 0.5rem;
}

footer {
  position: relative;
  top: 5rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  15%;
  margin-right: 15%;
  margin-bottom: 2rem;
  text-align: center;
}

.social li{
    display:block;
}  

.fb-like {
    position:relative;
}

.twitter-share-button {
    position:relative;
}
