// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  15%;
  margin-top:  15%;
  margin-right: 15%;
}

.jumbotron1 {
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 12rem;
  right: 0;
  left: 0;
  background-color: #fff;
}

.jumbotron2 {
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 12rem;
  right: 0;
  left: 0;
  background-color: #E8E8EE;
}

footer {
  position: relative;
  padding-top:  5%;
  padding-bottom: 5%;
  text-align: center;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: #CCCCCC;
  border-width: 0.5rem;
}
