// Layout
//
// Styles for managing the structural hierarchy of the site.

main {
  position: relative;
  top: 10rem;
}

.jumbotron {
  background-color: #fff;
}

.container {
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  5rem;
  margin-right: 5rem;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: double;
  border-left-style: none;
  border-color: #CCCCCC;
  border-width: 0.5rem;
}

footer {
  position: relative;
  top: 5rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}
