// Masthead
// Blurr effect
// Super small header above the content for site name and short description.

header {
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index: 9999;
	background-color: #000;
	opacity: 0.5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

header:hover {
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.masthead-title {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  color: #ffffff;
}
