// Masthead
// Blurr effect
// Super small header above the content for site name and short description.

head {
	position: fixed;
	left:0;
	right:0;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	z-index: 9999;
	background-color: #000;
	opacity: 0.2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

head:hover {
	opacity: 0.7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.masthead-title {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  font-size: 1rem;
  a {
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0rem 0rem 0.1rem #fff;
    letter-spacing: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  a:hover{
	color: #fff;
	text-shadow: 0rem 0rem 0.1rem #fff;
	padding-left: 1rem;
}
}

.masthead-title:hover {
	a {
  	text-shadow: 0px 0px 0.1rem #0d1a3a;
  }
}
