// Publications
//
// Styles for presenting publications.

#pub-container {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 20%;
  padding-left: 20%;
}

#pub-main {
  padding-top: 2%;
  padding-bottom: 2%;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #CCCCCC;
  border-width: 0.2rem;
}
