// Publications
//
// Styles for presenting publications.

#pub-container {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 20%;
  padding-left: 20%;
}

#pub-main {
  padding-top: 2%;
  padding-bottom: 2%;
  #pub-sub {
    display: none;
      -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }

}

#pub-main:hover {
  #pub-sub {
    display: block;
    background-color: #E8E8EE;
      -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
}
