<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/">Home</a>
          {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{{ page[1]  }}">{{ page[0] }}</a>
          {% endfor %}
        </h3>
      </header>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
